.container {
    height: 100vh;
    background-color: #282c34;
}

.content {
    background-color: #fff;
    padding: 24px;
    margin: 24px;
    border: solid 4px bisque;
}

.headerMenu {
    background: none;
}

.menuItem {
    font-weight: bold;
    font-size:18px;
}